<!-- blog/templates/blog/search_results.html -->
{% extends "blog/base.html" %}

{% block content %}
  <h2>Search Results</h2>
  <form method="get" action="{% url 'search' %}">
    <input type="text" name="query" value="{{ query }}" placeholder="Search...">
    <button type="submit">Search</button>
  </form>
  {% if results %}
    <ul>
      {% for result in results %}
        <li><a href="{% url 'post-detail' slug=result.slug %}">{{ result.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No results found.</p>
  {% endif %}
{% endblock %}
